body{
    /* background-color: tomato; */
}
#navigation {
    flex-direction: column;
}
#navigation::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    padding-bottom: 13px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#navigation ul li a {
    color: white;
    display: block;
    font-size: 15px;
    font-size: 12px;
    padding: 0px 23px;
    text-decoration: none;
    /* list-style: none; */
}
.sect .headinp{
    flex-wrap: wrap;
   margin-top: 159px;
   font-size: 23px;
   padding: 50px 0px 10px 0px;
   
}
.sect .para{
   flex-wrap: wrap;
   font-size: 15px;
   color: white;
   font-family:  serif;
   font-weight: 200;
   padding: 0px 0px 30px 0px;
   width: 690px;
   
   /* letter-spacing: 2px; */
   
}
#service {
    /* padding: 22px 44px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}